<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <title>{% block title_block %}My amazing site{% endblock title_block %}</title>
</head>

<body>
  <div id="nav">
    {% block nav_block %}
    <div><a href="/">Home</a></div>
    <div><a href="/mcquestions/">Multichoice Questions</a></div>
    <div><a href="/accounts/login">Accounts</a></div>
    {% endblock nav_block %}
  </div>

  <div id="content">
    {% block content_block %}{% endblock content_block %}
  </div>
</body>

</html>