<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />

<head>
  {% load static %}
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <title>{% block title_block %}My amazing site{% endblock title_block %}</title>
</head>

<body>
  <div id="nav">
    {% block nav_block %}
    <div><a href="/">Home</a></div>
    <div><a href="/mcquestions/">Multichoice Questions</a></div>
    {% if user.is_authenticated %}
    <div> {{ user }}</div>
    <div><a href="/accounts/logout">Logout</a></div>
    {% else %}
    <div><a href="/accounts/login">Login</a></div>
    {% endif %}
    {% endblock nav_block %}
  </div>

  <div id="content">
    {% block content_block %}{% endblock content_block %}
  </div>
</body>

</html>